version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: music-db
    restart: always
    environment:
      MONGO_INITDB_DATABASE: musicdb
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
